{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet/text" href="{% static 'css/styles.css' %}">

    </head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <img src="https://i.ibb.co/h7wg3jn/Logo.png">
<!--    <a class="navbar-brand" href="#">Navbar</a>-->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}" style="margin: 20px">Movimentação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'filtro_consulta' %}" style="margin: 20px">Controle</a>
        </li> -->
         <li class="nav-item">
          <a class="nav-link" href="/accounts/logout/" style="margin: 20px">Sair</a>
        </li>

      </ul>
    </div>
  </nav>
      
    <div class="container">
        <br><br>
        <h5>Importação de dados</h5>
        <br>
        <form>
            <i class="fal fa-trash-alt">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="idDataInicial">Arquivo:</label>
                    <input type="file" class="form-control" id="idArquivo" placeholder="Data inicial">
                </div>
            </div>
            
            <a href="#" id="idConsultar" class="badge badge-primary" style="font-size: 16px" >Consultar</a>
            <a href="http://ezbi-pannemix.herokuapp.com/insert" id="idInserir" class="badge badge-success" style="font-size: 16px" >Novo</a>
            <br><br>
        </form>
        
    </div>

  </div>

</body>


<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
 <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script type="text/javascript">


var data =  new Date()

document.getElementById("idDataInicial").valueAsDate = data
document.getElementById("idDataFinal").valueAsDate = data


function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

        var csrftoken = getCookie('csrftoken');



  

</script>
</html>