{% load static %}
<!--{% load widget_tweaks %}-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet/text" href="{% static 'css/styles.css' %}">
</head>

<body>



  <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <img src="https://i.ibb.co/h7wg3jn/Logo.png">
<!--    <a class="navbar-brand" href="#">Navbar</a>-->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}" style="margin: 20px">Movimentação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'filtro_consulta' %}" style="margin: 20px">Controle</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/accounts/logout/" style="margin: 20px">Sair</a>
        </li>

      </ul>
    </div>
  </nav>


  <form method="POST">
    {% csrf_token %}
    <div class="container">

      <br><br>
        <h5>Movimentação de Produtos</h5>
      <br>

      <p>Tipo de Movimentação:</p>
      <div>
        {% for tp_mv in tipo_movimento %}
         <input style="margin:5px;" type="radio" class="rdButton" id="inputTipoM" name="inpTpMovi" value="{{tp_mv.nmtipomovimento}}" checked>
        <label for="inputTipoM">{{tp_mv.nmtipomovimento}}</label>
        {% endfor %}
      </div>

       <div>
        <div class="row">
          <div class="col">
          </br>
          <label for="inputLoja2">Lojas</label>

              {% if result_lojas %}
                    <input list="Lojacomplete" class="form-control" id="inputLoja2" >
              {% else %}
                    <input list="Lojacomplete" class="form-control" id="inputLoja2" disabled="true">
              {% endif %}

              <datalist id="Lojacomplete" >
                  {% for result in result_lojas %}

                      <option data-value={{ result.cdloja }}> {{ result.nmloja }} </option>

                  {% endfor %}
              </datalist>
          </div>

          <div class="col"></div>
        </div>
      </div>

      <br>
      <div>

        <div class="row">

          <div class="col">
            <label for="inputGrupo">Grupo</label>
<!--            {% render_field gp_form.nmgrupo class="custom-select" placeholder="Informe o grupo" %}-->
            <input list="GrupoComplete" class="form-control" id="inputGrupo" name="inpGrupo" placeholder="Escolha um grupo...">
          <datalist id="GrupoComplete">
              {% for result in result_grupos %}
                  <option> {{ result.nmgrupo }} </option>
              {% endfor %}
          </datalist>
          </div>

          <div class="col">
            <label for="inputSubGrupo">SubGrupo</label>
<!--            {% render_field sbgp_form.nmsubgrupo class="custom-select" placeholder="Informe o SubGrupo" %}-->
            <input list="SubgrupoComplete" class="form-control" id="inputSubGrupo" name="inpSubGrupo" placeholder="Escolha um subgrupo...">
          <datalist id="SubgrupoComplete">
              {% for result in result_subGrupos %}
                  <option> {{ result.nmsubgrupo }} </option>
              {% endfor %}
          </datalist>
          </div>



        </div>

      </div>
      <hr>
<!--      <button type="submit" class="btn btn-primary" id="consultar">Consultar</button>-->


<!--    </div>-->
  </form>
<!--      <button class="btn btn-primary" id="consultar">Consultar</button>-->
      <a href="#" id="consultar" class="badge badge-primary" style="font-size: 16px" >Consultar</a>
  <br><br>

  <form>
    {% csrf_token %}
    <h2>Lista de produtos</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Produtos</th>
          <th>Valores</th>
        </tr>
      </thead>
      <tbody class="lpTbody">


      </tbody>
    </table>
    <div>
<!--      <button type="submit" id="btn-finalizar" class="btn btn-danger float-right"> Finalizar </button>-->
<!--      <button type="submit" id="btn-inserir" class="btn btn-warning float-right"> Inserir </button>-->
      <a href="#" id="btnInserir" class="badge bg-warning text-dark" style="font-size: 16px">Inserir</a>
      <a href="#" id="btnFinalizar" class="badge bg-danger text-white" style="font-size: 16px">Finalizar</a>
    </div>
    </div>
  </form>

  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

 <script>

 $('#inputLoja2').click(function(){
    this.value = ''
    $('#Lojacomplete').prop('selectedIndex',0)
})
$('#inputGrupo').click(function(){
    this.value = ''
    $('#GrupoComplete').prop('selectedIndex',0)
})
$('#inputSubGrupo').click(function(){
    this.value = ''
    $('#SubgrupoComplete').prop('selectedIndex',0)
})




function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

        var csrftoken = getCookie('csrftoken');

<!-- Consulta os produtos para preenchimento dos valores de acordo com o filtro-->

    $("#consultar").click(function(){

          var movimento = $("#inputTipoM").val();
          var loja = $("#inputLoja2").val();
          var grupo = $("#inputGrupo").val();
          var subgrupo = $("#inputSubGrupo").val();

            console.log("Teste Ajax - "+ csrftoken)
            $.ajax({
                type:"POST",
                headers: {'X-CSRFToken': csrftoken},
                url: "https://ezbi-pannemix.herokuapp.com/filtroMovimento",
                data: {movimento: movimento, loja: loja, grupo: grupo, subgrupo: subgrupo },
                success: function(dt){
                  console.log('Retorno dos dados Pesquisa Dados:' + dt)

                    var obj = JSON.parse(dt)

                    $(".lpTbody tr").remove()
                    obj.forEach(function(o, index){
                          preecheTabela(o.cdproduto, o.nmproduto)

                     });
                }
            });
    });


 $('td:nth-child(1),th:nth-child(1)').hide();

function preecheTabela(cd, nm){

          var corpoTabela = document.querySelector("tbody")

           var linha = document.createElement("tr")
           var codigo = document.createElement("td")
           var nome = document.createElement("td")
           var input = document.createElement("input")
           input.type="number"
           input.id="vlPrd"




           var vlCodigo = document.createTextNode(cd)
           var vlNome = document.createTextNode(nm)

           codigo.appendChild(vlCodigo)
           nome.appendChild(vlNome)

           linha.appendChild(codigo)
           linha.appendChild(nome)
           linha.appendChild(input)

            corpoTabela.appendChild(linha)

            $('td:nth-child(1),th:nth-child(1)').hide();

<!--            input.css({display: "block", margin: "10 auto", background: "red"})-->


}


$("#btnInserir").click(function(){



       produtos = lerTabela()
       cabecalho = lerCabecalho()

        const varStorage = localStorage.getItem("idMovPannemix")
        console.log($('#inputLoja2').val())
        if ( $('#inputLoja2').val() != "") {

              if (varStorage) {

                  $.ajax({
                          type:"POST",
                          headers: {'X-CSRFToken': csrftoken},
                          url: "https://ezbi-pannemix.herokuapp.com/movimento",
                          data: {cab: cabecalho, prod: produtos, flag: varStorage},
                          success: function(dt){

                            console.log("Retorno Insert mov:" + dt)
                          }
                    });

              } else {

                  $.ajax({
                          type:"POST",
                          headers: {'X-CSRFToken': csrftoken},
                          url: "https://ezbi-pannemix.herokuapp.com/movimento",
                          data: {cab: cabecalho, prod: produtos, flag: 0},
                          success: function(dt){

                            console.log("Retorno Insert mov:" + dt)
                            localStorage.setItem('idMovPannemix', dt);

                            $('.rdButton').attr("disabled", true);
                            $('#inputLoja2').attr("disabled", true);


                          }
                    });
                   }

                    $(".lpTbody tr").remove()
                    $('#inputGrupo').val("");
                    $('#inputGrupo').attr("placeholder", "Escolha um grupo...");
                    $('#inputSubGrupo').val("");
                    $('#inputSubGrupo').attr("placeholder", "Escolha um subgrupo...");

              } else {

                  alert("Escolha uma Loja!!!")

              }

});


$('#btnFinalizar').click(function(){

        const varStorage = localStorage.getItem("idMovPannemix")

        $.ajax({
                          type:"POST",
                          headers: {'X-CSRFToken': csrftoken},
                          url: "https://ezbi-pannemix.herokuapp.com/fimMovimento",
                          data: {flag: varStorage},
                          success: function(dt){

        <!--                       Remove o id do item do localstorage    -->
                                   localStorage.removeItem('idMovPannemix')

        <!--                       Habilita o radio button dos movimentos     -->
                                   $('.rdButton').attr("disabled", false);

        <!--                       Habilita o campo loja, limpa o campo e seta o placeholder novamente      -->
                                   $('#inputLoja2').attr("disabled", false);
                                   $('#inputLoja2').val("");
                                   $('#inputLoja2').attr("placeholder", "Escolha uma loja...");

                                   alert("Registro finalizado com sucesso!!!")

                          },
                          error: function(XMLHttpRequest, textStatus, errorThrown){
                                alert("O registro não finalizado, tente novamente!!!");
                            }
                    });




});


function lerCabecalho(){

        dados = {
           movimento : $("input[name='inpTpMovi']:checked").val(),
                loja : $("#inputLoja2").val(),
               grupo : $("#inputGrupo").val(),
            subgrupo : $("#inputSubGrupo").val()
          }


          return JSON.stringify(dados)
}


function lerTabela(){

      var produtos = [];
      var lista = $('tbody');
      var input = $('#vlPrd')

      $(lista).find("tr").each(function(index, tr) {
         produtos.push(JSON.stringify(
                      { "cdProduto": $(tr).find('td:eq(0)').html(),
                        "nmProduto": $(tr).find('td:eq(1)').html(),
                        "valor":     $(tr).find('input:eq(0)').val()
                      }))
      });

    return produtos

}




function checaLocalStorage(){

      console.log("Removendo o Item")
      localStorage.removeItem('itemPannemix')

      if (localStorage.getItem("itemPannemix") === null) {
          console.log("Item não existente")
      }

      console.log("Item Adicionado")
      localStorage.setItem('itemPannemix', 'Daniel');



}





  </script>
</body>

</html>